<div class="cnt">
    <div class="cnt1">
        <div class="sensors">
            <app-temp color="#2192FF" width="205w" height="7vh" type="Temp" name="Temperature" unit="°C"></app-temp> 
            <app-temp color="#38E54D" width="25vw" height="7vh" type="Hum" name="Humidity" unit="%"></app-temp> 
            <app-temp color="#FDFF00" width="25vw" height="7vh" type="Light" name="Ambient Light" unit="%"></app-temp> 
            <app-temp color="#9CFF2E" width="25vw" height="7vh" type="Wind" name="Wind Speed" unit="m/s"></app-temp> 
        </div>
    </div>
    <div class="sensors">

        <app-temp color="#FF2E2E" width="75vw" height="10vh" type="Soil2" name="Soil Water" unit="%"></app-temp> 
    </div>
</div>
<!--

    "#2192FF",
        "#38E54D",
        "#FDFF00",
        "#9CFF2E"
-->
